.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: Calibri;
}
    
.floater { float:center; }
.non-floater { overflow:hidden;}

header{
	font-family: Caveat;
	font-size: 60px;
}

body {
	font-size: 18px;
	font-family: Calibri;
}

heart {
	color: #e25555; 
	text-align: center;
}


iframe { 
	height: 7600px;
	width: 100%; 
	padding: 0; 
	border: 0; 
    overflow:hidden;
}

	

